.title{text-align: center; margin-top: 150px; font-size: 48px; color: #FFC107;}
.namepw{width: 500px;}
.loginbg{background-image: url("https://t1.daumcdn.net/liveboard/ppss/b89b2823cc69474287ef6901b0dabe0d.jpg"); background-repeat: no-repeat; background-size: cover;}
